setxkbmap us,ara -option grp:alt_shift_toggle &
setxkbmap -option caps:escape
setxkbmap -option escape:caps

export XDG_CACHE_HOME=$HOME/.cache
export XDG_CONFIG_HOME=$HOME/.config
export XDG_DATA_HOM=$HOME/.local/share
export ZDOTDIR=$HOME/.config/zsh
export NDK_HOME=/opt/android-sdk/ndk/27.0.12077973
export JAVA_HOME=/usr/lib/jvm/java-17-openjdk

# clipmenu

feh --bg-scale dotfiles/Data/Data/Arabic-Background-HD.webp
sxhkd &
